/* CSS Reset from: http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* CSS box-sizing fix from: https://css-tricks.com/box-sizing/ */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    max-width: 1440px;
    min-width: 1024px;
    margin: 0 auto;
}

.main {
    background: url("assets/images/main.jpg") 50% 100% no-repeat;
    height: 657px;
}

.full-link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-navbar {
    border-top: 1px solid #7b7b7b;
    border-left: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    border-right: 1px solid #5c5c5c;
    border-radius: 4px;

    background: linear-gradient(to bottom, #888888 0%, #707070 50%, #5e5e5e 50%, #777777 100%);
    box-shadow: rgba(0,0,0,0.3) 0 1px 2px;

    width: 980px;
    height: 36px;
    margin: 0 auto;
}

.navbar-container {
    position: fixed;
    top: 18px;
    width: 100%;
    z-index: 9999;
}

.main-navbar ul {
    display: inline-block;
}

.main-navbar li {
    display: inline-block;
}

.main-navbar a {
    height: 34px;
    border-right: 1px solid #464646;
    border-left: 1px solid #949494;

    font-family: Arial;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.main-navbar a:first-child {
    border-left: none;
}

.w-106 {
    width: 106px;
}

.w-105 {
    width: 105px;
}

.navbar-search {
    display: inline-block;
    padding: 8px 13px;
    position: relative;
}

#search-bar {
    width: 103px;
    height: 19px;
    padding: 2px 18px 1px 22px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border-top: 2px solid #3e3e3e;
    border-right: none;
    border-bottom: 2px solid #858585;
    border-left: none;
}

#search-icon {
    background: url("assets/images/search-icon.png");
    width: 13px;
    height: 14px;
    position: absolute;
    top: 12px;
    left: 17px;
}

.main-header {
    font-family: Arial;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin: auto 0;
}

#title {
    margin-bottom: -12px;
}

#subtitle {
    margin-bottom: 27px;
}

.overflow-hidden {
    overflow: hidden;
    height: 31px;
}

.news {
    margin-top: 2px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(254px, 1fr));
    gap: 2px;
}

.news a {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
